
<div class="about-company">
    <h1>À propos de notre entreprise</h1>
    <p>
        Bienvenue chez  IVAN FABO INC, votre partenaire de confiance en programmation et développement logiciel. 
        Nous sommes spécialisés dans la création de solutions innovantes et sur mesure pour répondre aux besoins uniques de nos clients.
    </p>
    <p>
        Avec une équipe d'experts passionnés et expérimentés, nous offrons une gamme complète de services, 
        allant de la conception et du développement de sites web et d'applications mobiles, 
        à l'intégration de systèmes et à la maintenance continue.
    </p>
    <p>
        Notre mission est de transformer vos idées en réalité grâce à des technologies de pointe et des pratiques de développement agiles. 
        Nous nous engageons à fournir des produits de haute qualité qui dépassent vos attentes et à établir des partenariats durables basés sur la confiance et la transparence.
    </p>
    <p>
        Merci de nous faire confiance pour vos projets de programmation. Nous sommes impatients de collaborer avec vous et de contribuer à votre succès.
    </p>
</div>

<footer>
    <p>© 2025 IVAN FABO INC.  Tous droits réservés.</p>
</footer>