.about-company {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-company h1 {
    color: #2c3e50;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.about-company p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.about-company p:last-child {
    margin-bottom: 0;
}

.about-company p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #0a61ad;
}

footer {
    margin-top: auto;
    background: linear-gradient(to left, #0a61ad, #f7f2f2);
    color: #0e0a0a;
    text-align: center;
    padding: 0.1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
