
<div class="secteurs">
    <h1>Nos Secteurs d'Activité</h1>
    <p>Notre entreprise met en avant l'importance de la programmation web et logicielle dans divers domaines clés pour répondre aux besoins de nos clients.</p>
    
    <div class="secteur">
        <h2>Santé</h2>
        <p>La programmation web et logicielle joue un rôle crucial dans le secteur de la santé, en améliorant la gestion des données et les services aux patients. Nos services incluent :</p>
        <ul>
            <li>Développement de systèmes de gestion des dossiers médicaux</li>
            <li>Création de plateformes de télémédecine</li>
            <li>Optimisation des processus hospitaliers</li>
        </ul>
    </div>
    
    <div class="secteur">
        <h2>Commerce</h2>
        <p>Dans le secteur du commerce, la programmation web et logicielle permet de créer des expériences d'achat en ligne fluides et sécurisées. Nos services incluent :</p>
        <ul>
            <li>Développement de sites e-commerce</li>
            <li>Intégration de systèmes de paiement sécurisés</li>
            <li>Optimisation des processus de gestion des stocks</li>
        </ul>
    </div> 
    
    <div class="secteur">
        <h2>Télécommunication</h2>
        <p>La programmation est essentielle pour le développement de solutions innovantes dans le secteur des télécommunications. Nos services incluent :</p>
        <ul>
            <li>Développement de logiciels de gestion des réseaux</li>
            <li>Création de plateformes de communication unifiée</li>
            <li>Optimisation des infrastructures de télécommunication</li>
        </ul>
    </div>
    
    <div class="secteur">
        <h2>Banque</h2>
        <p>Dans le secteur bancaire, la programmation web et logicielle assure la sécurité et l'efficacité des transactions financières. Nos services incluent :</p>
        <ul>
            <li>Développement de systèmes bancaires en ligne</li>
            <li>Intégration de solutions de sécurité avancées</li>
            <li>Optimisation des processus de gestion des comptes</li>
        </ul>
    </div>
    
    <div class="secteur">
        <h2>Autres Domaines</h2>
        <p>La programmation web et logicielle est également vitale dans d'autres domaines tels que l'éducation, le transport, et bien plus encore. Nos services incluent :</p>
        <ul>
            <li>Développement de plateformes éducatives</li>
            <li>Création de systèmes de gestion des transports</li>
            <li>Optimisation des processus dans divers secteurs</li>
        </ul>
    </div>
</div>     

<footer>
    <p>© 2025 IVAN FABO INC.  Tous droits réservés.</p>
</footer>